In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet('s3://techcatalyst-public/yellow_tripdata_2024-01.parquet')

In [20]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [55]:
df_final = df.head(30000)
df_final.shape

(30000, 19)

In [56]:
df_final.to_csv('s3://techcatalyst-public/tatwan/yellow_tripdata_2024-01.csv')
df_final.to_csv('yellow_tripdata.csv', index=False)
df_final.to_json('yellow_tripdata.json', orient='records', index=False)
df_final.to_parquet('yellow_tripdata.parquet', index=False)

In [44]:
df_final.head().to_json(orient='records')

'[{"VendorID":2,"tpep_pickup_datetime":1704070675,"tpep_dropoff_datetime":1704071863,"passenger_count":1.0,"trip_distance":1.72,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":186,"DOLocationID":79,"payment_type":2,"fare_amount":17.7,"extra":1.0,"mta_tax":0.5,"tip_amount":0.0,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":22.7,"congestion_surcharge":2.5,"Airport_fee":0.0},{"VendorID":1,"tpep_pickup_datetime":1704067380,"tpep_dropoff_datetime":1704067776,"passenger_count":1.0,"trip_distance":1.8,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":140,"DOLocationID":236,"payment_type":1,"fare_amount":10.0,"extra":3.5,"mta_tax":0.5,"tip_amount":3.75,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":18.75,"congestion_surcharge":2.5,"Airport_fee":0.0},{"VendorID":1,"tpep_pickup_datetime":1704068226,"tpep_dropoff_datetime":1704069301,"passenger_count":1.0,"trip_distance":4.7,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":236,"DOLocationID":79,"payment_type":1,"fare_amount":23.3,"extra":3.5,"mta_tax":0.5,"tip_amount":3.0,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":31.3,"congestion_surcharge":2.5,"Airport_fee":0.0},{"VendorID":1,"tpep_pickup_datetime":1704069398,"tpep_dropoff_datetime":1704069896,"passenger_count":1.0,"trip_distance":1.4,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":79,"DOLocationID":211,"payment_type":1,"fare_amount":10.0,"extra":3.5,"mta_tax":0.5,"tip_amount":2.0,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":17.0,"congestion_surcharge":2.5,"Airport_fee":0.0},{"VendorID":1,"tpep_pickup_datetime":1704070011,"tpep_dropoff_datetime":1704070377,"passenger_count":1.0,"trip_distance":0.8,"RatecodeID":1.0,"store_and_fwd_flag":"N","PULocationID":211,"DOLocationID":148,"payment_type":1,"fare_amount":7.9,"extra":3.5,"mta_tax":0.5,"tip_amount":3.2,"tolls_amount":0.0,"improvement_surcharge":1.0,"total_amount":16.1,"congestion_surcharge":2.5,"Airport_fee":0.0}]'

In [41]:
#df_final.to_json('s3://techcatalyst-public/tatwan/yellow_tripdata_2024-01.json', orient='records')

In [42]:
#df_final.to_xml('s3://techcatalyst-public/tatwan/yellow_tripdata_2024-01.xml')

In [2]:
# !pip install pandas-datareader
!conda list datareader

# packages in environment at /opt/anaconda3/envs/dev2:
#
# Name                    Version                   Build  Channel
pandas-datareader         0.10.0                   pypi_0    pypi

In [3]:
!which python

/opt/anaconda3/envs/dev2/bin/python

In [8]:
import pandas_datareader.data as web
import pandas as pd
import datetime as dt
from pandas_datareader import yahoo

In [13]:
y = yahoo.daily.YahooDailyReader

In [14]:
ge = y('GE', start='2019-09-10', end='2024-07-09')

In [18]:
# ge.read()

In [19]:
# df = web.DataReader('GE', 'yahoo', start='2019-09-10', end='2024-07-09')

In [31]:
# !pip install yfinance

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-09-10,53.465000,54.195000,52.927502,54.174999,52.482788,127111600
1,2019-09-11,54.517502,55.927502,54.432499,55.897499,54.151485,177158400
2,2019-09-12,56.200001,56.605000,55.715000,55.772499,54.030388,128906800
3,2019-09-13,55.000000,55.197498,54.255001,54.687500,52.979282,159053200
4,2019-09-16,54.432499,55.032501,54.389999,54.974998,53.257793,84632400
...,...,...,...,...,...,...,...
1210,2024-07-02,216.149994,220.380005,215.100006,220.270004,220.270004,58046200
1211,2024-07-03,220.000000,221.550003,219.029999,221.550003,221.550003,37369800
1212,2024-07-05,221.649994,226.449997,221.649994,226.339996,226.339996,60412400
1213,2024-07-08,227.089996,227.850006,223.250000,227.820007,227.820007,59085900
1214,2024-07-09,227.929993,229.399994,226.369995,228.679993,228.679993,48076100

In [24]:
import yfinance as yf
aapl = yf.download("AAPL", start='2019-09-10', end='2024-07-10')

[*********************100%%**********************]  1 of 1 completed

In [25]:
ge = yf.download("GE", start='2019-09-10', end='2024-07-10')

[*********************100%%**********************]  1 of 1 completed

In [26]:
Google = yf.download("GOOG", start='2019-09-10', end='2024-07-10')

[*********************100%%**********************]  1 of 1 completed

In [32]:
Google.reset_index().to_csv('goog.csv', index=False)
aapl.reset_index().to_parquet('aapl.parquet', index=False)
ge.reset_index().to_json('ge.json', index=False, orient='records')

In [29]:
Google.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-09-10  59.757500  60.500000  59.729000  60.299999  60.231457  25202000
2019-09-11  60.170502  61.130001  60.110001  61.008499  60.939152  26140000
2019-09-12  61.215000  62.092999  61.151001  61.712502  61.642357  34518000
2019-09-13  61.567501  62.043999  61.350498  61.978001  61.907551  26028000
2019-09-16  61.476002  61.978001  61.280499  61.564999  61.495022  21066000

In [2]:
import pandas as pd

In [4]:
pd.read_parquet('s3://techcatalyst-public/stocks/aapl.parquet')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-09-10,53.465000,54.195000,52.927502,54.174999,52.482788,127111600
1,2019-09-11,54.517502,55.927502,54.432499,55.897499,54.151485,177158400
2,2019-09-12,56.200001,56.605000,55.715000,55.772499,54.030388,128906800
3,2019-09-13,55.000000,55.197498,54.255001,54.687500,52.979282,159053200
4,2019-09-16,54.432499,55.032501,54.389999,54.974998,53.257793,84632400
...,...,...,...,...,...,...,...
1210,2024-07-02,216.149994,220.380005,215.100006,220.270004,220.270004,58046200
1211,2024-07-03,220.000000,221.550003,219.029999,221.550003,221.550003,37369800
1212,2024-07-05,221.649994,226.449997,221.649994,226.339996,226.339996,60412400
1213,2024-07-08,227.089996,227.850006,223.250000,227.820007,227.820007,59085900
1214,2024-07-09,227.929993,229.399994,226.369995,228.679993,228.679993,48076100

In [ ]:
pd.read_csv('s3://techcatalyst-public/stocks/aapl.parquet')